html
  overflow: auto

.gradient-bg
  background: rgb(112,80,27)
  background: linear-gradient(30deg, rgb(112, 80, 27) 20%, rgb(0, 62, 62) 80%)

.app-subtitle
  max-width: 460px

.app-version
  position: absolute
  bottom: 32px
  margin: 0 auto
  left: 0
  right: 0
  text-align: center
  user-select: none
  -moz-user-select: none
  -webkit-user-select: none

a.text-link
  color: white !important
  background-color: transparent
  text-decoration: none
  box-shadow: inset 0 0 0 var(--v-primary-base)
  transition: 200ms

a.text-link:hover
  box-shadow: inset 0 -2px 0 var(--v-primary-base)
  transition: 200ms

.v-card > .v-card__title
  padding: 16px 16px 16px 24px !important

.v-card > .v-card__body
  padding: 16px 24px 24px 24px

code
  vertical-align: middle !important
  background: #ffffff20 !important
  color: #ffffff !important
  padding: 4px 8px !important

.danger-border
  border: var(--v-error-base) !important
  border-style: solid !important
  border-width: 1px !important
